/*БЛОК "Собери свой тур"*/

.collect-tour{
    scroll-margin-top: 100px;   
    display: flex;  
    flex-direction: column;
    align-items: center;        
    width: 100%;
    height: auto;
    padding: 0 53px;      
    box-sizing: border-box;     
    gap: 100px;      
}

.collect-tour__header{
    display: flex;
    flex-direction: column;
    align-items: center;      
    width: 100%;
    max-width: 458px;
    height: auto;
    gap: 30px;
}

.collect-tour__header h2{
    height: auto;
    margin: 0;
    padding: 0;
    font-size: 59px;   
    line-height: 124%;
    font-weight: var(--font-weight_bold);
    text-align: center;      
    color: var(--black);      
}

.collect-tour__header p{
    width: 100%;
    height: auto; 
    margin: 0;
    padding: 0;   
    font-size: 20px;          
    line-height: 140%;
    font-weight: var(--font-weight_normal);
    text-align: center;  
    color: var(--gray_300);    
}

.form-tour{
    width: 100%;
    max-width: 1170px;
    height: auto;   
    padding: 70px;     
    box-sizing: border-box;
    border-radius: 50px;
    background: var(--white);
}

.form-tour__container{
    display: flex;
    flex-wrap: wrap;      
    width: 100%;  
    gap: 33px;
}

.form-tour__line{
    display: flex;  
    justify-content: center;        
    width: 100%;  
    gap: 30px;
}

.form-tour__block{
    width: 100%;
    max-width: 500px;
}

.form-tour__label{
    display: flex;
    flex-direction: column;    
    width: 100%;
    max-width: 500px;
    height: auto;
    gap: 8px;  
}

.form-tour__label p, 
.form-tour__comment-label p, 
.form-tour__question p{
    width: 100%;
    height: 28px;
    margin: 0;
    font-size: 20px;     
    line-height: 142%;
    font-weight: var(--font-weight_normal);
    color: var(--black);   
}

.form-tour__label input::placeholder{
    color: var(--gray_300);
}

.form-tour__label select option[disabled][selected]{
    display: none;    
    color: var(--gray_300);
}

.form-tour__label input[type="date"]{
    position: relative;
    font-family: var(--font-family);
    letter-spacing: -0.8px; 
    border: 1px solid var(--beige_200); 
}

.form-tour__label input[type="date"]::-webkit-datetime-edit{
    text-transform: uppercase;
}

.form-tour__label input[type="date"]:invalid::-webkit-datetime-edit{
    color: var(--gray_300);
}

.form-tour__label input[type="date"]:valid::-webkit-datetime-edit{
    color: var(--black);
}

.form-tour__label input[type="date"]::-webkit-calendar-picker-indicator{
    position: absolute;
    top: 5px;    
    right: 0;
    z-index: 2;    
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.form-tour__select{
    position: relative;  
    display: flex;
    align-items: center;    
    width: 100%;      
}

.select-arrow{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 26px;
    height: 26px;
    background-image: url('/public/icon/ic-dropdown.svg');
    background-repeat: no-repeat;
    background-position: center;
    pointer-events: none;
}

.form-tour__label select{
    color: var(--gray_300);
}

.form-tour__label select:valid{
    color: var(--black);
}

.form-tour__label select option{
    color: var(--black);
}

.form-tour__label input, 
.form-tour__label select{
    display: flex;  
    width: 100%;
    height: 68px;
    padding: 20px;    
    box-sizing: border-box;    
    gap: 10px; 
    font-family: var(--font-family);    
    font-size: 20px;
    line-height: 142%;
    font-weight: var(--font-weight_normal);
    border: 1px solid var(--beige_200);  
    border-radius: 10px;  
    background: var(--beige_100);
    transition: background-color 0.3s ease, border-color 0.3s ease;
    appearance: none;
    cursor: pointer;
}

.form-tour__label input:hover, 
.form-tour__label select:hover,
.form-tour__comment-label textarea:hover {
    border: 1px solid var(--beige_200);    
    background: var(--beige_200);
}

.form-tour__label input:focus, 
.form-tour__label select:focus,
.form-tour__comment-label textarea:focus{
    outline: none; 
    border: 1px solid var(--gray_300);    
    background: var(--beige_200);
    cursor: text;   
}

.form-tour__comment{
    display: flex;
    flex-direction: column;    
    width: 100%;
    height: auto;
    gap: 8px;
}

.form-tour__comment-label{
    display: flex;
    flex-direction: column;    
    width: 100%;    
    gap: 8px;
}

.form-tour__comment-label textarea{
    display: flex; 
    width: 100%;
    height: 152px;
    padding: 20px;   
    box-sizing: border-box;  
    gap: 10px;
    font-family: var(--font-family);
    font-size: 20px;
    border: 1px solid var(--beige_200);       
    border-radius: 10px;   
    background: var(--beige_100);    
    resize: none;  
    cursor: pointer; 
}

.form-tour__question{
    display: flex;
    flex-direction: column;    
    width: 100%;
    height: auto;
    gap: 8px;
}

.form-tour__question-radio{
    display: flex;    
    width: 100%;
    height: auto;
    gap: 31px;
}

.question-radio__yes,
.question-radio__no{
    display: flex;
    align-items: center;    
    width: auto;
    height: 28px;
    gap: 11px;
}

.form-tour__question-radio p{
    width: auto;
    font-size: 20px;
    line-height: 142%;
    font-weight: var(--font-weight_normal);
}

.form-tour__question-radio input[type="radio"]{
    width: 26px;
    height: 26px;  
    margin: 0;    
    padding: 0;   
    border: 2.5px solid var(--black);
    border-radius: 100%;   
    appearance: none;
    cursor: pointer;
}

.form-tour__question-radio input[type="radio"]:checked{
    border: 2.5px solid var(--black);
    background: radial-gradient(circle, var(--black) 40%, transparent 45%);
}

.form-tour__accept{
    display: flex;
    align-items: center;
    width: 100%;    
}

.accept-checkbox{
    display: flex;
    align-items: center;
    flex-wrap: wrap;          
    width: 100%;
    max-width: 562px;
    height: auto;    
    margin: 0; 
    padding: 0; 
    gap: 19px;    
}

.accept-checkbox p{
    color: var(--gray_300);
}

.accept-checkbox p, 
.accept-checkbox a{
    height: auto;
    margin: 0;
    font-size: 17px;    
    line-height: 142%;  
    letter-spacing: -0.2px;      
    font-weight: var(--font-weight_normal);
}

.accept-checkbox a{
    color: var(--black);
    border-bottom: 2px solid transparent;    
    transition: border-bottom 0.3s ease, color 0.3s ease;
    text-decoration: none;
}

.accept-checkbox a:hover{
    border-bottom-color: var(--black);    
    cursor: pointer;
}

.accept-checkbox a:active{
    color: var(--green_400) !important;
    border-bottom-color: var(--green_400);
}

.accept-checkbox a:not(.active):hover{
    color: var(--black);
}

.accept-checkbox input[type="checkbox"]{
    width: 26px;
    height: 26px; 
    margin: 0;    
    border: 2.5px solid var(--black);
    border-radius: 5px;         
    appearance: none;
    cursor: pointer;  
}

.accept-checkbox input[type="checkbox"]:checked{
    border-color: var(--black);   
    background-image: url(../../../public/icon/checkbox.svg);     
    background-position: center;
    background-repeat: no-repeat;
}

.form-tour__button{
    display: flex;    
    width: 100%;
    max-width: 500px;
    height: auto;
    gap: 30px;
}

.form-tour__button-find{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 235px;
    height: 58px;
    padding: 15px 30px;
    box-sizing: border-box;
    gap: 10px;    
    font-size: 20px;     
    line-height: 142%;    
    font-weight: var(--font-weight_normal);
    color: var(--white);     
    border: none;    
    border-radius: 10px; 
    background: var(--green_400);
    transition: background-color 0.3s ease;
    cursor: pointer;
    text-decoration: none;      
}

.form-tour__button-find:hover{
    background: var(--green_300);
}

.form-tour__button-find:active{
    background: var(--green_200);
}

.form-tour__button-clear{
    width: 235px;
    height: 58px;
    padding: 15px 30px;
    font-family: var(--font-family); 
    font-size: 20px;      
    line-height: 142%;
    font-weight: var(--font-weight_normal);
    color: var(--green_400); 
    border: none;  
    border-radius: 10px;     
    background-color: var(--green_100);    
    transition: background-color 0.3s ease;
    cursor: pointer; 
}

.form-tour__button-clear:hover{
    background: var(--gray_100);
}

.form-tour__button-clear:active{
    background: var(--gray_200);
}

@media (max-width: 1200px){
    .collect-tour{
        gap: 99px;
    }

    .form-tour{
        max-width: 100%;
        padding: 60px;
    }

    .form-tour__line{
        flex-wrap: wrap;
        gap: 20px;
    }

    .form-tour__block{
        max-width: 100%;
        flex: 1 1 calc(50% - 10px);
    }

    .form-tour__label,
    .form-tour__comment,
    .form-tour__question,
    .form-tour__accept,
    .form-tour__button{
        max-width: 100%;
    }

    .accept-checkbox{
        gap: 11px;
    }
}

@media (min-width: 769px) and (max-width: 1024px){
    .form-tour{
        max-width: 100%;
        padding: 60px;
    }

    .form-tour__line{
        flex-wrap: wrap;        
        gap: 20px;
    }

    .form-tour__block{
        max-width: calc(50% - 10px);        
        flex: 1 1 calc(50% - 10px);
    }

    .accept-checkbox{
        gap: 11px;
    }

    .form-tour__button-clear{
        padding-left: 27px;
    }
}

@media (max-width: 768px){
    .form-tour__container{
        gap: 30px;
    }

    .collect-tour{
        padding: 0 21px;        
        gap: 39px;
    }

    .collect-tour__header{
        max-width: 100%;        
        gap: 20px;
    }

    .collect-tour__header h2{
        width: 100%;
        max-width: 318px;
        height: auto;
        font-size: 34px;
        line-height: 115%;
        letter-spacing: 0.7px;
    }

    .collect-tour__header p{
        width: 100%;
        max-width: 318px;
        height: auto;
        font-size: 16px;
        line-height: 144%;
    }

    .form-tour{
        width: 100%;
        max-width: 100%;
        padding: 20px 20px 40px;
        border-radius: 30px;        
    }

    .form-tour__line{
        flex-wrap: wrap;
        height: auto;        
        gap: 30px;
    }

    .form-tour__block{
        max-width: 100%;
        flex: 1 1 100%;
    }

    .form-tour__label p{
        height: auto;      
        font-size: 16px;
        line-height: 144%;
    }

    .form-tour__label input{
        height: 43px;
        padding: 10px 10px 10px 9px;
        font-size: 16px;
        letter-spacing: -0.09px;
    }

    .form-tour__label select{
        height: 46px;
        padding: 10px;
        font-size: 16px;
    }

    .select-arrow{
        right: 10px;
    }

    .form-tour__label{
        height: auto;
    }

    .form-tour__select img{
        right: 10px;
    }

    .form-tour__label input[type="tel"]{
        font-family: var(--font-family);        
        letter-spacing: 0px;
    }

    .form-tour__label input[type="date"]{
        width: calc(100% + 3px);    
        letter-spacing: -0.5px;
        border: 1px solid var(--beige_200);
    }

    .form-tour__comment{
        height: 163px;
    }

    .form-tour__comment-label p{
        height: auto;        
        font-size: 16px;
        line-height: 144%;
    }

    .form-tour__comment-label textarea{
        height: 132px;
        padding: 10px;
        font-size: 16px;
    }

    .form-tour__question p{
        height: 23px;        
        font-size: 16px;
        line-height: 144%;
    }

    .form-tour__question-radio{
        justify-content: flex-start;
        width: 100%;
        height: auto;
        gap: 30px;
    }

    .form-tour__question-radio input[type="radio"]:checked{
        border: 1.5px solid var(--black);
    }

    .form-tour__question-radio input[type="radio"]{
        width: 20px;
        height: 20px;
        border: 1.5px solid var(--black);
    }

    .question-radio__yes, 
    .question-radio__no{
        width: auto;
        height: auto;
        gap: 10px;
    }

    .accept-checkbox input[type="checkbox"]{
        width: 20px;
        min-width: 20px;        
        height: 20px;
        min-height: 20px;
        border: 1.5px solid var(--black);
    }

    .accept-checkbox{
        display: flex;
        flex-wrap: nowrap;
        align-items: start;        
        max-width: 100%;
        height: auto;
        max-height: 69px;
        gap: 10px;
    }

    .accept-checkbox p{
        width: 100%;
        font-size: 16px;
        line-height: 135%;
        letter-spacing: -0.06px;
    }

    .accept-checkbox a{
        letter-spacing: -0.6px;
    }

    .form-tour__button-find{
        display: flex;
        align-items: center;            
        width: auto;
        height: 47px;
        padding: 12px 30px;   
        font-size: 16px;
    }

    .form-tour__button-clear{
        width: 134px;
        height: 47px;
        padding: 12px 30px;
    }

    .form-tour__button-clear{
        display: flex;
        align-items: center;
        justify-content: center;   
        font-family: var(--font-family);             
        font-size: 16px;
    }
    
    .form-tour__button{
        gap: 10px;
    }
}