/*БЛОК "Пора в путешестве вместе с нами!"*/

.email-tour{
    scroll-margin-top: 100px;    
    display: flex;
    align-items: center;
    justify-content: center;    
    flex-wrap: wrap;       
    width: 100%;
    height: auto;
    padding: 0 126px;  
    box-sizing: border-box;   
    gap: 30px;
}

.email-tour img{
    width: 100%;
    max-width: 370px;
    height: 370px;
    border-radius: 50px;    
    object-fit: cover;
}

.email-tour__header{
    display: flex;
    flex-direction: column;    
    width: 100%;
    max-width: 371px;
    height: auto;
    gap: 21px;
}

.email-tour__header h3{
    width: 100%;
    height: auto;
    margin: 0;   
    font-size: 35px;    
    line-height: 122%;
    font-weight: var(--font-weight_medium);
    color: var(--black);     
}

.email-tour__header p{
    width: 100%;
    height: auto;
    margin: 0;  
    font-size: 20px;    
    line-height: 142%;
    font-weight: var(--font-weight_normal);
    color: var(--gray_300);      
}

.email-tour__header a{
    color: var(--black);
    border-bottom: 2px solid transparent;    
    transition: border-bottom 0.3s ease, color 0.3s ease;
    text-decoration: none;
}

.email-tour__header a:hover{
    border-bottom-color: var(--black);    
    cursor: pointer;
}

.email-tour__header a:active{
    color: var(--green_400) !important;
    border-bottom-color: var(--green_400);
}

@media (max-width: 1022px){
    .email-tour{
        flex-wrap: wrap;
        text-align: center;
    }
}

@media (min-width: 769px) and (max-width: 1024px){
    .email-tour{
        gap: 31px;
    }
}

@media (max-width: 768px){
    .email-tour{
        max-width: 100%;        
        padding: 0 35px;
        text-align: center;
    }

    .email-tour img{
        width: 130px;
        max-width: 100%;
        height: 133px;
        border-radius: 20px;
    }

    .email-tour__header{
        align-items: center;
        max-width: 100%;
        gap: 19px;        
        text-align: center;
    }

    .email-tour__header h3{
        font-size: 23px;
        line-height: 123%;        
        letter-spacing: 1px;
    }

    .email-tour__header p{
        width: 100%;
        min-width: 291px;
        font-size: 16px;
        line-height: 144%;
    }
    
    .email-tour__header a:hover{
        border-bottom: 1.5px solid var(--black);
    }
}