/*БЛОК "Футер"*/

.footer{
    display: flex;   
    align-items: center;
    justify-content: center;      
    width: 100%;
    height: auto;
    margin-top: 135px;     
    gap: 214px;
    background: var(--beige_200);    
}

.footer__container{
    display: flex;    
    align-items: center;    
    justify-content: space-between;  
    flex-wrap: wrap;    
    width: 100%;
    max-width: 1168px;
    height: auto;
    padding: 30px 53px;    
}

.footer__block{
    display: flex;
    align-items: center;
    justify-content: center;     
    width: 100%;
    max-width: 408px;
    height: 28px;    
    gap: 25px;
}

.footer__tg-link, 
.footer__fb-link, 
.footer__vk-link{
    display: flex;    
    align-items: center;
    justify-content: center;      
    width: auto;
    gap: 12px;
}

.footer__container p{
    width: 222px;
    height: 28px;
    margin: 0;    
    font-size: 20px;       
    line-height: 142%;
    font-weight: var(--font-weight_normal);
    color: var(--gray_300); 
}

.footer__telegram a, 
.footer__facebook a, 
.footer__vkontakte a{
    border-bottom: none;
    text-decoration: none;
}

.icon-tg{ 
    width: 26px;
    background-image: url('/public/icon/telegram.svg'); 
    background-repeat: no-repeat;
    background-position: center;
    border-bottom: none !important;
}

.icon-fb{ 
    width: 26px;
    background-image: url('/public/icon/fb.svg'); 
    background-repeat: no-repeat;
    background-position: center;
    border-bottom: none !important;
}

.icon-vk{ 
    width: 26px;
    background-image: url('/public/icon/vk.svg'); 
    background-repeat: no-repeat;
    background-position: center;
    border-bottom: none !important;
}

.footer__telegram span, 
.footer__facebook span, 
.footer__vkontakte span{
    height: 25px;
    font-size: 20px;
    line-height: 142%;
    font-weight: var(--font-weight_normal);
    color: var(--black);
    border-bottom: 2px solid transparent;      
    transition: border-bottom 0.3s ease, color 0.3s ease;
    text-decoration: none;  
}

.footer__telegram{
    display: flex;
    justify-content: right;    
    width: 115px;
}

.footer__facebook{
    display: flex;
    justify-content: right;    
    width: 120px;
}

.footer__vkontakte{
    display: flex;
    justify-content: right;    
    width: 123px;
}

.footer__telegram span:hover, 
.footer__facebook span:hover, 
.footer__vkontakte span:hover{
    border-bottom-color: var(--black);    
    cursor: pointer;
}

.footer__telegram span:active, 
.footer__facebook span:active, 
.footer__vkontakte span:active{
    color: var(--orange_200) !important;
    border-bottom-color: var(--orange_200);
}

@media (max-width: 1200px){
    .footer__container{
        max-width: 100%;
    }

    .footer__container p{
        width: auto;
        min-width: 200px;
    }
}

@media (min-width: 769px) and (max-width: 1024px){
    .footer__tg-link, 
    .footer__fb-link, 
    .footer__vk-link{  
        gap: 11px;
    }
}

@media (max-width: 768px){
    .footer{
        height: auto;
        margin: 75px 0 0 0;
    }

    .footer__container{
        justify-content: center;
        flex-wrap: wrap;
        padding: 21px;
        gap: 6px;
    }

    .footer__container p, 
    .footer__container span{
        width: auto;
        height: auto;
        font-size: 16px;
        text-align: center;        
    }

    .footer__container span:hover{
        border-bottom: 1.5px solid var(--black);
    }

    .footer__block{
        max-width: 100%;
        height: auto;
        gap: 15px;
    }

    .footer__tg-link,
    .footer__fb-link{
        gap: 5px;
    }

    .footer__vk-link{
        gap: 3px;
    }

    .footer__tg-link span,
    .footer__fb-link span,
    .footer__vk-link span{
        padding-top: 3.5px;
    }

    .icon-tg{
        width: 21px !important;
        height: 26px !important;
    }

    .icon-fb{
        width: 26px !important;
        height: 25px !important;
    }

    .icon-vk{
        width: 26px !important;
        height: 26px !important;
    }

    .footer__telegram{
        width: 90px;
    }

    .footer__facebook{
        width: 98px;
    }
    
    .footer__vkontakte{
        width: 95px;
    }
}