/*БЛОК "Отзывы наших путешественников"*/

.review-tour{
    scroll-margin-top: 100px;   
    display: flex;
    flex-direction: column;
    align-items: center;       
    width: 100%;
    height: auto;
    padding: 0 53px;  
    box-sizing: border-box;    
    gap: 97px;
}

.review-tour__header{
    display: flex;
    flex-direction: column;
    align-items: center;      
    width: 100%;
    max-width: 529px;
    height: auto;
    gap: 30px;
}

.review-tour__header h2{
    width: 100%;
    height: auto;  
    margin: 0; 
    font-size: 59px;    
    line-height: 124%;
    font-weight: var(--font-weight_bold);
    text-align: center;          
    color: var(--black);  
}

.review-tour__header p{
    width: 100%;
    height: auto; 
    margin: 0;
    padding: 0;   
    font-size: 20px;    
    line-height: 142%;
    font-weight: var(--font-weight_normal);
    text-align: center;           
    color: var(--gray_300); 
}

.review-tour__cards{
    display: flex;
    flex-wrap: nowrap;     
    width: 100%;
    max-width: 1170px;
    height: auto;
    gap: 30px;
}

.review-tour__card1, 
.review-tour__card2{
    display: flex;  
    flex-direction: column;
    justify-content: space-between;    
    width: 100%;
    max-width: 570px;
    height: auto;
    padding: 40px;   
    box-sizing: border-box;    
    border-radius: 50px;
    background: var(--beige_200);
}

.review-tour__card1 p, 
.review-tour__card2 p{
    width: 100%;
    height: auto;
    margin: 0;    
    font-size: 23px;    
    line-height: 122%;    
    font-weight: var(--font-weight_bold);
    color: var(--black);
}

.review-tour__card-author{
    display: flex;      
    width: 100%;
    height: auto;
    padding-top: 70px; 
    box-sizing: border-box;         
}

.review-tour__card-author img{
    width: 100%;
    max-width: 75px;
    height: 75px;
    border-radius: 100px;    
    object-fit: cover;
    object-position: top;
}

.review-tour__author-info{
    display: flex;
    flex-direction: column;     
    width: 100%;
    height: auto;
    gap: 8px;
}

.review-tour__author-info h3{
    width: 100%;
    height: auto;
    margin: 0;    
    font-size: 35px;    
    line-height: 122%;
    font-weight: var(--font-weight_medium);
    color: var(--black);    
}

.review-tour__author-info p{
    width: 100%;
    height: auto; 
    font-size: 17px;    
    line-height: 142%;
    letter-spacing: -0.2px;
    font-weight: var(--font-weight_normal);
    color: var(--gray_300);    
}

@media (max-width: 1200px){
    .review-tour__cards{
        flex-wrap: nowrap;        
        justify-content: center;        
        max-width: 100%;
        gap: 22px;
    }

    .review-tour__card1, 
    .review-tour__card2{
        padding-top: 42px;
        padding-left: 39px;
    }
}
@media (min-width: 769px) and (max-width: 1024px){
    .review-tour__cards{
        justify-content: center;          
        max-width: 100%;
        gap: 18px;
    }
    
    .review-tour__card1, 
    .review-tour__card2{
        max-width: calc(50% - 10px);
        flex: 1 1 calc(50% - 10px);        
    }

    .review-tour{
        gap: 99px;
    }
}

@media (max-width: 768px){
    .review-tour{
        padding: 0 20px;
        gap: 50px;        
    }

    .review-tour__header{
        width: 100%;
        max-width: 360px;
        gap: 20.5px;
    }

    .review-tour__header h2{
        width: 100%;
        font-size: 34px; 
        line-height: 112%;         
        letter-spacing: 0.7px;  
    }

    .review-tour__header p{
        width: 100%;
        font-size: 16px;
        line-height: 142%;
    }

    .review-tour__cards{
        flex-wrap: wrap;        
        justify-content: center;          
        width: 100%;
        max-width: 100%;
        gap: 18px;
    }

    .review-tour__card1, 
    .review-tour__card2{
        width: 100%;
        max-width: 100%;
        flex: 1 1 100%;          
        padding: 20px 21px;
        border-radius: 20px;
    }

    .review-tour__card1 p, 
    .review-tour__card2 p{
        font-size: 16px;
        line-height: 144%;
    }

    .review-tour__author-info h3{
        font-size: 23px;
        letter-spacing: 0.9px;
    }

    .review-tour__author-info p{
        font-size: 16px;
        letter-spacing: -0.2px;
    }
    
    .review-tour__card-author{
        align-items: end;        
        padding-top: 39.5px;
    }

}
