body{
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
}

/*БЛОК TODOS*/
.todos{
    display: flex;
    justify-content: center;
}
.todos__container{
    display: block;
    width: 100%;
    max-width: 560px;
}
.todos__title{
    width: 100%;
    max-width: 546px;
    display: flex;
    justify-content: center;
    margin: 0 0 30px 0;
}
.todos__title h1{
    font-size: 80px;
    font-weight: normal;
    text-align: center;
    color: #50523b;
    margin: 0;
}
.todos__input-container{
    width: 100%;
    max-width: 546px;
    height: auto;
}
.todos__input{
    width: 100%;
    height: auto;
    position: relative;
    word-break: break-all;
}
.first{
    z-index: 10;
}
.input-arrow{
    display: none;
    position: absolute;
    left: 7px;
    top: 17px;
    width: 35px;
    height: 35px;
    cursor: pointer;
}
.input-container{
    padding: 0 20px 0 59px !important;
    z-index: 10;
}
.input-container::placeholder{
    font-style: italic;
}
.input-text,
.new-todo__input{
    width: 100%;
    height: 65px;
    font-size: 24px;
    background-color: #f3f3e0;
    border-style: none;
    padding: 0 20px 0 7px;
    box-shadow: 0 2px 4px 0 #00000033, 
                0 25px 50px 0 #0000001a;
    align-items: center;
    display: flex;
    box-sizing: border-box;
    transition: all 0.3s ease;
}
.input-text:hover,
.new-todo__input:hover{
    background-color: #e7e7d6;
}
.input-text:focus,
.new-todo__input:focus{
    outline: none;
    background-color: #e7e7d6;
    outline: 1px solid #9a9c80;
}
input{
    flex: 1;
    font-size: 24px;
    background-color: transparent;
    outline: none;
    border: none;
}
input[type="checkbox"]{
    appearance: none;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    border: 1px solid #50523b;
    background-color: #fffef5;
    cursor: pointer;
    position: relative;
    margin-right: 20px;
    flex: none;
}
input[type="checkbox"]:checked::after{
    content: "";
    position: absolute;
    background-image: url(images/icons8-галочка.svg);
    width: 23px;
    height: 23px;
    left: 2px;
    top: 3px;
    border-color: #50523b;
    background-size: contain;
    background-position: center center;
}
input[type="checkbox"]:checked + p{
    color: #767676;
    text-decoration: line-through;
}
.new-todo__input:has(input[type="checkbox"]:checked){
    background-color: #d6d6c5;
}
.delete-button{
    appearance: none;
    border: none;
    background: none;
    display: none;
    float: right;
    margin-left: auto;
    cursor: pointer;
    background-image: url(/images/close.png);
    width: 15px;
    height: 15px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.new-todo__input:hover .delete-button{
    display: inline;
}
.todos__button-container{
    display: none;
    width: 100%;
    min-height: 45px;
    font-size: 16px;
    background-color: #f3f3e0;
    border-style: none;
    padding: 0 20px 0 20px;
    box-shadow: 0 2px 4px 0 #00000033, 
                0 25px 50px 0 #0000001a;
    box-sizing: border-box;
    justify-content: space-between;
    position: relative;
    flex-wrap: wrap;
    align-items: center;
}
.todos__button-status{
    position: absolute;
    align-items: center;
    display: flex;
    gap: 10px;
    padding-left: 28%;
}
.todos__button-status button{
    border: none;
    background: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    outline: 1px solid transparent;
    transition: all 0.3s ease;
}
.todos__button-status button.active{
    outline: 1px solid #50523b;
    background-color: #50523b;
    color:antiquewhite ;
}
.todos__button-status button:active{
    background-color: #50523b;
    color: #202020;
}
.todos__button-status button:not(.active):hover{
    background-color: #50523b63;
    color: #202020;
}
.todos__button-clear a{
    display: none;
    transition: border-bottom-color 0.3s ease, color 0.3s ease;
    border-bottom: 1px solid transparent;
    padding-bottom: 1px;
    cursor: pointer;
}
.todos__button-clear a:hover{
    cursor: pointer;
    border-bottom-color: #50523b;
    color: #50523b;
}

/*ФУТЕР*/
.todos__info{
    margin: 60px 0 50px 0;
    text-align: center;
    width: 100%;
    max-width: 546px;
}
.todos__info p{
    font-size: 11px;
}
.todos__info a{
    text-decoration: none;
    font-size: 11px;
    color: #50523b;
    border-bottom: 1.5px solid transparent;
    transition: all 0.3s ease;
}
.todos__info a:hover{
    color: #50523b;
    border-bottom: 1.5px solid #50523b;
}

@media(max-width:500px){
    .todos__button-clear a{
        padding-top: 15px;
    }
    .todos__button-container{
        height: 100%;
        min-height: 70px;
        align-items: start;
    }
    .todos__button-status{
        width: 90%;
        bottom: 10px;
        justify-content: center;
        box-sizing: border-box;
        padding-left: 0;
    }
}