/*БЛОК "Пора в путешестве вместе с нами!"*/
.email-tour{
    scroll-margin-top: 100px;    
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;    
    gap: 31px;
    padding: 0 126px;  
    box-sizing: border-box;   
    flex-wrap: wrap;       
    opacity: 1;
}
.email-tour img{
    width: 100%;
    max-width: 370px;
    height: 370px;
    border-radius: 50px;    
    opacity: 1;
    object-fit: cover;
}
.email-tour__header{
    width: 100%;
    max-width: 371px;
    height: auto;
    display: flex;
    flex-direction: column;    
    gap: 21px;
    opacity: 1;
}
.email-tour__header h3{
    width: 100%;
    height: auto;
    margin: 0;   
    color: var(--black);     
    font-size: 35px;    
    font-weight: var(--font-weight_medium);
    line-height: 122%;
    opacity: 1;
}
.email-tour__header p{
    width: 100%;
    height: auto;
    margin: 0;  
    color: var(--gray_300);      
    font-size: 20px;    
    font-weight: var(--font-weight_normal);
    line-height: 142%;
    opacity: 1;
}
.email-tour__header a{
    color: var(--black);
    text-decoration: none;
    border-bottom: 2px solid transparent;    
    transition: all 0.3s ease;
}
.email-tour__header a:hover{
    border-bottom-color: var(--black);    
    cursor: pointer;
}
.email-tour__header a:active{
    color: var(--green_400) !important;
    border-bottom-color: var(--green_400);
}
@media (max-width: 1022px){
    .email-tour{
        flex-wrap: wrap;
        text-align: center;
    }
}
@media (max-width: 768px){
    .email-tour{
        max-width: 100%;        
        padding: 0 35px 0 35px;
        text-align: center;
        gap: 30px;
    }
    .email-tour img{
        width: 130px;
        max-width: 100%;
        height: 133px;
        border-radius: 20px;
    }
    .email-tour__header{
        max-width: 100%;
        text-align: center;
        align-items: center;
        gap: 20px;
    }
    .email-tour__header h3{
        font-size: 23px;
        letter-spacing: 1px;
        line-height: 123%;
    }
    .email-tour__header p{
        width: 100%;
        min-width: 291px;
        font-size: 16px;
    }
    .email-tour__header a:hover{
        border-bottom: 1.5px solid var(--black);
    }

}



