/*Общие стили*/
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
body, button, input, select, textarea{
    font-family: var(--font-family);
}
body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background: var(--beige_100);
    font-family: var(--font-family);
}
.content-all{
    display: flex;
    flex-direction: column;
    gap: 135px;
}
@media (max-width: 768px){
    .content-all{
        align-items: center;
        gap: 75px;
    }
}